.search {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 13px;
    top: 14px;
    color: gray;
}

.location_icon {
    position: absolute;
    padding-top: 15px;
    padding-left: 8px;
    color: orangered;
}

.loca .downarrow {
    position: absolute;
    padding-top: 15px;
    padding-left: 280px;
}

.cards {
    display: flex;
    gap: 5px;
}

.card {
    margin-top: 30px;
    display: flex;
    flex: 1;
    height: 380px;
    width: 380px;
}

.line {
    /* height: 20px; */
    width: 78%;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    /* top: 780px;
    left: 160px; */
    /* margin-bottom: 20px; */
}

.linearea {
    display: flex;
    justify-content: space-between;
}

.leftarrow {
    position: absolute;
    color: gray;

}

.rightarrow {
    position: absolute;
    left: 1155px;
    color: gray;
}

.second {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    gap: 10px;
    /* justify-content: center;
    align-items: center; */

}

.ssub {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}

.secondmain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scndhead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.sheadcontnt {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.arrow_side {
    display: flex;
    justify-content: center;
    background-color: rgb(200, 210, 210);
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.sh1 {
    font-size: x-large;
    font-weight: bold;
}

.scndimg {
    width: 130px;
    height: 130px;
    border-radius: 20px;
}

.scndimg p {
    margin-top: 50px;
}

.groceries {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px;
    gap: 10px;
}

.groceriesmain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 130px; */
    gap: 10px;
}

.hotelsmain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotels {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 380px;
    gap: 20px;
}

.htl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 130px; */
    gap: 10px;
}

.inimg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 450px;
    height: 175px;
}

.htlp1 {
    position: absolute;
    font-size: larger;
    font-weight: 900;
    color: white;
    margin-right: 160px;
    margin-top: 115px;
    /* right: 50px; */
}

.htlp2 {
    position: absolute;
    font-size: larger;
    font-weight: 900;
    color: white;
    margin-right: 270px;
    margin-top: 115px;
    /* right: 50px; */
}

.htlp3 {
    position: absolute;
    font-size: larger;
    font-weight: 900;
    color: white;
    margin-right: 160px;
    margin-top: 115px;
    /* right: 50px; */
}

/* .htlinner1{
    border-radius: 20px;
} */
.cn1 {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.cnp {
    font-size: small;
    color: gray;
}

.cn2 {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}

.cn3 {
    background-color: rgb(240, 233, 233);
    /* height: 30px; */
    display: flex;
    padding: 8px;
    border-radius: 20px;
}

.checkicon {
    /* margin-bottom: -1px; */
    margin-right: 5px;
}

.blogo {
    height: 25px;
    width: 25px;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 154, 32);
    margin: 8px;
    border-radius: 10px;
    width: 95%;
    height: 38px;
}

.btnlogo {
    display: flex;
    flex: 1;
    padding-left: 5px;
}

.btncnt {
    display: flex;
    flex: 7;
    justify-content: space-between;
    padding-right: 10px;
}

.btnp {
    font-size: small;
    font-weight: 900;
    color: white;
}

.btn2 {
    display: flex;
    background-color: rgb(194, 244, 119);
    align-items: center;
    margin: 8px;
    border-radius: 10px;
    width: 95%;
    height: 38px;
}

.btnp2 {
    color: green;
    padding-left: 5px;
}

.htl1 {
    padding: 5px;
}

.htlmain {
    border-radius: 20px;
    /* background-color: aquamarine; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.imgscan {
    height: 300px;
    width: 100%;
}

.scaner {
    margin-top: 120px;
}

.opt1main {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    /* align-items: center; */
    /* background-color: aqua; */
    /* height: 500px; */
    width: 100%;
    margin-bottom: 90px;
}

.opt1 {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 80px 80px;
    /* justify-content: center; */
    /* align-items: center;  */
    gap: 15px;
}

.op {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: azure; */
    height: 80px;
    border-radius: 15px;
    border: solid gray 1px;
    font-weight: bold;
    font-size: 14PX;
}

.scndhead1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding-left: 50px;
    padding-right: 30px;
    /* margin-bottom: 20px; */
}

/* .sheadcontnt {
    width: 80%;
    display: flex;
    justify-content: space-between;
} */
.op1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: azure; */
    height: 80px;
    border-radius: 15px;
    border: solid gray 1px;
    font-size: 14PX;
    font-weight: bold;
    color: orangered;
}

.scndhead2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding-left: 50px;
    padding-right: 30px;
    /* margin-bottom: 20px; */
}

.info {
    width: 100%;
    /* height: 500px; */
    justify-content: center;
    display: flex;
    /* gap: 10px; */
    background-color: rgb(233, 228, 228);
    padding-bottom: 50px;
}

.innerinfo {
    width: 75%;
    /* height: 500px; */
    justify-content: center;
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.innerinfo1 {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    flex: 2;
}

.innerinfo2 {
    gap: 15px;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    flex: 1;
}

.innerinfo3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: aqua; */
    flex: 1;
}

.innerinfo4 {
    display: flex;
    gap: 15px;
    flex-direction: column;
    /* background-color: aqua; */
    flex: 1;
}

.innerinfo5 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* background-color: aqua; */
    flex: 1.5;
}

.fimg {
    width: 150px;
    height: 80px;
}

.fp {
    color: gray;
}

.if3 {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.fp1 {
    padding-left: 5px;
    color: gray;
}

.downarrow1 {
    margin-top: 1px;
    margin-left: 15px;
    position: absolute;
    color: gray;
}

.fpd {
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 110px;
    /* background-color: azure; */
    border-radius: 10px;
    border: solid gray 1px
}

.sicon {
    height: 20px;
    width: 20px;
}

.socialicon {
    display: flex;
    gap: 15px;
}

.if5 {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-bottom: 80px;
}

.lynmain {
    height: 1px;
    width: 100%;
    background-color: rgb(233, 228, 228);
    display: flex;
    justify-content: center;
}

.lyn {
    background-color: gray;
    width: 90%;
}

.footer {
    height: 150px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 228, 228);
}

.fh {
    font-size: x-large;
    font-weight: bold;
}